@import url('https://fonts.googleapis.com/css?family=Alata|Public+Sans&display=swap');

:root {
  --bg: #fefde1;
  --meta: #888;
  --accent: #3178cd;
  --text: black;
  --base: 1.5rem;
}

@media (max-width: 600px) {
  :root {
    --base: 1.2rem;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Public Sans', sans-serif;;
  font-size: var(--base);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt', 'liga', 'hist', 'onum', 'pnum';

  overflow: auto;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--text);
  background-color: var(--bg);
}

#slide {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 1rem 6rem;

  text-align: center;

  -webkit-overflow-scrolling: touch;
  margin-left: auto;
  margin-right: auto;
}

#slide ul {
    margin-left: 32px;
    line-height: 45pt;
    text-align: left;
    font-size: 40px;
}

#slide img{
  box-shadow: unset !important;
}

a {
  color: var(--text);

  text-decoration-skip-ink: auto;
}

blockquote {
  font-size: 120%;
  font-weight: bold;

  width: 50vw;

  text-align: left;
}

blockquote div::before {
  content: '\201C';
}

blockquote div::after {
  content: '\201D';
}

cite {
  font-size: 80%;
  font-weight: normal;
  font-style: normal;

  display: block;

  margin-top: 2rem;
}

cite::before {
  content: '\2014\00a0';
}

pre {
  font-size: 70%;

  display: inline-block;
  overflow-x: scroll;

  margin: 2rem 0;

  text-align: left;

  color: var(--accent);
}

code {
  font-family: menlo, monospace;
  font-size: 90%;
}

a:hover {
  color: var(--accent);
}

h1 {
  font-size: 80px;
  color: maroon;
  margin-bottom: 0.5rem;
  font-family: 'Alata', 'Arial Narrow';
}

h2 {
  font-size: 60px;
  margin-bottom: 0.5rem;
}

h4{
  font-size: 32px;
  line-height: 34pt;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 45pt;
  font-size: 40px;
}

header {
  font-size: 50%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px;

  user-select: none;
}

header a,
time {
  text-decoration: none;

  color: var(--meta);
}

header a:hover {
  color: var(--meta);
}

header span {
  color: var(--text);
}

@media(max-width: 767px){
  html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
  }
  #slide{
    padding: .5rem;
  }
  #slide ul{
    font-size: 24px;
    line-height: 28pt;
  }
  h1{
    font-size: 45px;
    line-height: 42pt;
  }
  h2{
    font-size: 40px;
    line-height: 42pt;
  }
  p{
    font-size: 20px;
    line-height: 24pt;
  }
  blockquote{
    width: 80vw;
  }
}
